*{
    margin: 0;
    padding: 0;
}img{
    max-width: 100%;
}a, a:visited{
    color: rgb(17, 16, 16);
    text-decoration: none;
}body{
    font-family: 'Oswald', sans-serif;
}.container{
    width: 1080px;
    margin: 0 auto;
    padding: 10px;
}.flexible-container{
    display: flex;
}
/* Our Basic Style Ends Here */
nav#navigation-bar {
    border-bottom: 1px solid #ddd;
}.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}.logo h1 {
    font-size: 2em;
}ul.menu-items {
    list-style: none;
    display: flex;
}ul.menu-items li {
    padding: 10px;
}ul.menu-items li a {
    font-weight: bold;
}
/* Our Menu Items CSS is end */
.header-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}.header-info {
    width: 50%;
}.head-info {
    padding: 20px 0px;
    font-size: 22px;
    line-height: 30px;
}.header-title h1 {
    font-size: 3em;
}button.our-btn {
    border: none;
    background-image: linear-gradient(#FD297A, #9424F0);
    padding: 14px 55px;
    border-radius: 15px;
}button.our-btn a{
    color: #fff;
    line-height: 30px;
}

/* Its Our Mediaquery Responsive Style  */
@media only screen and (max-width: 768px) {
    /* menu bar responsible */
    nav#navigation-bar {
        border: none;
    }.nav-items{
        display: block;
    }ul.menu-items {
        display: block;
    }
    /* header items responsible */
    .header-items{
        display: block;
    }.header-info{
        width: 490px;
    }
}